/* Variables */
$font-logo: 'Great Vibes', cursive;
$font-header: 'Montserrat', sans-serif;
$font-text: 'Playfair Display', serif;

$color-main: #fed136;
$color-two: #f7f7f7;

$color-text-dark: #222222;
$color-text-medium: #777777;
$color-text-light: #ffffff;

/* Global*/

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    color: $color-text-medium;
    font-family: $font-text;
    font-size: 14px;
}

.container {
    max-width: 950px;
    height: 100%;
    padding: 0;
    margin: 0 auto;
    border: 1px solid red;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
}

.btn {
    height: 65px;
    width: 240px;
    margin: 60px auto 0;
    color: $color-text-light;
    background: $color-main;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 18px;
    font-family: $font-header;
    font-weight: 700;
    text-align: center;
    line-height: 65px;
}

.section-title {
    line-height: 30px;
    font-size: 40px;
    color: $color-text-dark;
    text-transform: uppercase;
    font-family: $font-header;
    padding: 0;
    margin: 120px auto 0 auto;
}

.section-subtitle {
    padding: 0;
    margin: 19px auto 77px auto;
    font-size: 16px;
}

/* Header */

header {
    width: 100%;
    height: 100vh;
    background: url("../images/header.jpg") no-repeat;
    background-position: center center;
    background-size: cover;

    .darker {
        width: 100%;
        height: 100vh;
        margin: 0;
        padding: 0;
        background: rgba($color: #000000, $alpha: 0.5);
    }
}

.navigation {
    background: none;
    width: 100%;
    margin-top: 44px;

    .logo {
        font-size: 26px;
        color: $color-main;
        font-family: $font-logo;
        line-height: 30px;
    }

    a {
        color: $color-text-light;
        font-family: $font-header;
        font-size: 14px;
        line-height: 30px;
    }

    ul {
        float: right;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    li {
        display: inline-block;
        margin-left: 36px;
        text-transform: uppercase;
    }
}

.splash-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    color: $color-text-light;
    padding-bottom: 150px;

    h1 {
        margin: 20px auto 0;
        font-size: 75px;
        font-family: $font-header;
        text-transform: uppercase;
    }

    h2 {
        margin: 0 auto;
        font-size: 40px;
        font-family: $font-text;
        font-style: italic;
        font-weight: 100;
    }
}

/* services */

.services {
    height: 602px;

    .margin {
        margin-left: 25px;
        margin-right: 25px;
    }

    .col p {
        text-align: center;
        margin: 0;
    }

    i {
        width: 70px;
        height: 70px;
        line-height: 64px;
        text-align: center;
        font-size: 38px;
        color: $color-main;
        border: $color-main 3px solid;
        border-radius: 50%;
    }
    a {
        font-size: 0;
    }
}

/* portfolio */

.portfolio {
    height: 1555px;
    background: $color-two;
}

.image01 {
    background: url("../images/image01.png") no-repeat center center;
    background-size: cover;
}

/* Footer */

.footer {
    position: relative;
    margin: 40px 0;

    .footer-icons {
        list-style-type: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        margin: 0;
        padding: 0;
    }

    p {
        color: $color-text-medium;
    }

    li {
        font-size: 0;
    }

    .fa-brands {
        line-height: 39px;
    }

    i {
        font-size: 18px;
        width: 39px;
        height: 39px;
        color: $color-text-light;
        background: $color-text-dark;
        border-radius: 50%;
        text-align: center;
    }
}
