/* Variables */
$font-logo: 'Great Vibes', cursive;
$font-header:  'Montserrat', sans-serif;
$font-text:   'Playfair Display', serif;

$color-main: #fed136;
$color-two: #f7f7f7;

$color-text-dark: #222222;
$color-text-medium: #777777;
$color-text-light: #ffffff;

/* Global*/

*, *::before, *::after {
	box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 950px;
    height: 100%;
    padding: 0;
    margin: 0 auto;
    border: 1px solid red;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}

.btn {
    margin: 0 auto;
    font-size: 18px;
    color: $color-text-light;
    text-transform: uppercase;
    font-family: $font-header;
    font-weight: 700;
}

/* Header */

header {
    width: 100%;
    height: 100vh;
    background: url('../images/header.jpg') no-repeat;
    background-position: center center;
    background-size: cover;
}
    
.navigation {
    background: none;
    width: 100%;
    border: 1px solid red;
    
    .logo {
        font-size: 26px;
        color: $color-main;
        font-family: $font-logo;
    }
    
    a{
        color: $color-text-light;
        font-family: $font-header;
        font-size: 14px;
    }

    ul {
        float: right;
        list-style-type: none;
    }
    
    li {
        display: inline-block;
        margin-left: 10px; 
        text-transform: uppercase;
    }
}

.splash-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    border: 1px solid red;
    color: $color-text-light;
    
    h1 {
        margin: 0 auto;
        font-size: 75px;
        font-family: $font-header;
        text-transform: uppercase;
    }
    
    h2 {
        margin: 0 auto;
        font-size: 40px;
        font-family: $font-text;
        font-style: italic;
        font-weight: 100;
    }
}

/* services */

.services {
    i {
        font-size: 38px;
        color: $color-main;
    }
    a {
        font-size: 0;
    }
}

/* portfolio */

.portfolio {
    background: $color-two;
}

.image01 {
    background: url('../images/image01.png') no-repeat center center;
    background-size: cover;
}

/* Footer */

.footer {
    position: relative;
    margin: 40px 0;

    .footer-icons {
        list-style-type: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        margin: 0;
        padding: 0;
    }

    p {
        color: $color-text-medium;
    }

    li {
        font-size: 0;
    }
    
    .fa-brands {
        line-height: 39px;
    }

    i {
        font-size: 18px;
        width: 39px;
        height: 39px;
        color: $color-text-light;
        background: $color-text-dark;
        border-radius: 50%;
        text-align: center;
    }
}