/* Variables */

$color-main: #fed136;
$color-two: #f7f7f7;

$color-text-dark: #222222;
$color-text-medium: #777777;
$color-text-light: #ffffff;

/* Global*/

*, *::before, *::after {
	box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 950px;
    height: 100%;
    padding: 0;
    margin: 0 auto;
    border: 1px solid red;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}

/* Header */

header {
    width: 100%;
    height: 100vh;
    background: url('.../images/header.jpg') no-repeat;
    background-position: center center;
    background-size: cover;
}
    
.navigation {
    background: none;
    width: 100%;
    border: 1px solid red;
    
    .logo {
        font-size: 18px;
        color: $color-main;
    }
    
    ul {
        float: right;
        list-style-type: none;
    }
    
    li {
        display: inline-block;
        margin-left: 10px; 
        text-transform: uppercase;
    }
}

.splash-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    border: 1px solid red;
    
    h1 {
        margin: 0 auto;
        font-size: 60px;
    }
    
    h2 {
        margin: 0 auto;
        font-size: 24px;
    }
    
    a {
        margin: 0 auto;
    }
}

/* services */

.services {
    i {
        font-size: 38px;
        color: $color-main;
    }
    a {
        font-size: 0;
    }
}

/* portfolio */

.portfolio {
    background: $color-two;
}

.image01 {
    background: url('file:///D:/kodilla/projekt4 studio/images/image01.png') no-repeat center center;
    background-size: cover;
}

/* Footer */

.footer {
    position: relative;
    margin: 40px 0;

    .footer-icons {
        list-style-type: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        margin: 0;
        padding: 0;
    }

    p {
        color: $color-text-medium;
    }

    li {
        font-size: 0;
    }
    
    .fa-brands {
        line-height: 39px;
    }

    i {
        font-size: 18px;
        width: 39px;
        height: 39px;
        color: $color-text-light;
        background: $color-text-dark;
        border-radius: 50%;
        text-align: center;
    }
}